 
{
    "main": "bin/console",
	"chmod": "0755",
    "output": "package/dbviz.phar",
	"directories": ["src"],
	"compression": "GZ",
	"files": [
        "vendor/phpseclib/phpseclib/phpseclib/Crypt/Random.php",
        "vendor/herrera-io/json/src/lib/json_version.php",
        "vendor/herrera-io/phar-update/src/lib/constants.php"
    ],
	"finder": [
        {
            "name": "*.php",
            "exclude": [
				"kherge",
				"symfony/finder",
				"symfony/process",
				"symfony/yaml",
				"phine",
				"phpseclib",
				"phpunit",
				"tests",
				"Tests"
			],
            "in": "vendor"
        },
		{
            "name": "*.json",
            "in": "vendor"
		}
    ],
    "stub": true,
	"git-version": "dbviz_package_version"
}

